@font-face{
	font-family: Pangolin;
	font-style: normal;
	src: url('../css/Pangolin-Regular.ttf') format('truetype');
}

body{
	background: #fff;
	font-family: 'Pangolin', cursive;
	font-size: 20px;
	color: #222;
	margin: 0;
}

/* fake bold */
b, strong{
	font-weight: normal;
	text-shadow:1px 0 0 currentColor;
}

#notes{
	width: 800px;
	margin: 80px auto;
	line-height: 1.7em;
}

h3{
	margin-top: 2.5em;
	margin-bottom: -0.2em;
}
